* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a:link {
    text-decoration: none;
}

body {
    font-family: Roboto, sans-serif;
}

li {
    list-style: none;
}

header {
    height: 90px;
    background-color: white;
}

header .container {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

header .container>div {
    width: calc((100% - 0px) / 2);
}

header .login-align {
    text-align: end;
}

.container {
    max-width: 1170px;
    margin: 0px auto;
    padding: 0px 0px;
}

header .container div ul li {
    line-height: 90px;
    display: inline;
}

header .container>div>ul>li>a {
    display: inline-block;
    height: 30px;
    line-height: 26px;
    padding: 0px 12px;
    border-radius: 30px;
    color: #ffffff;
    text-transform: uppercase;
    border: 2px solid transparent;
    margin-left: 10px;
    background-color: #C6353D;
}

header .container>div>ul>li>a:hover {
    display: inline-block;
    height: 30px;
    line-height: 26px;
    padding: 0px 12px;
    border-radius: 30px;
    color: #ffffff;
    text-transform: uppercase;
    border: 2px solid transparent;
    margin-left: 10px;
    background-color: #2020ff;
}

#menu {
    height: 65px;
    background-color: #D9291D;
}

#menu .container ul li {
    line-height: 60px;
    display: inline;
}

#menu .container ul li a {
    display: inline-block;
    height: 30px;
    line-height: 26px;
    padding: 0px 12px;
    margin: 0px auto;
    border-radius: 5px;
    color: #ffffff;
    text-transform: uppercase;
    border: 2px solid transparent;
    margin-left: 72px;
}

#menu .container ul li a:hover {
    border-color: white;
    color: white;
}


/*career*/

#career {
    padding-top: 25px;
    background-color: rgb(245, 245, 245);
}

#career .chia2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

#career .danh-muc {
    width: calc(33.33333333% - 16px);
    margin: 8px;
}

.danh-muc>ul>div>li {
    padding: 15px 24px;
}

.danh-muc>ul>div>li:hover {
    color: #005497;
    cursor: pointer;
}

.danh-muc>ul>div>li>label:hover {
    color: #005497;
    cursor: pointer;
}

.category-list:hover {
    cursor: pointer;
    border-left: 3px solid #F06523;
}

.sub-title {
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: 300 !important;
}

.category-list {
    font-size: 16px !important;
    margin-bottom: 8px;
    border-left: 3px solid #E0E0E0;
    background-color: rgb(224, 224, 224) !important;
    font-weight: bold;
}

.category-span {
    padding: 15px 24px;
    display: inline-block;
    max-width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 3em;
    white-space: nowrap;
    text-align: -webkit-match-parent;
    font-weight: bold;
}

.category-count {
    padding: 15px 10px;
    display: inline-block;
    float: right;
    color: rgb(117, 117, 117) !important;
}

#career .dang-tin {
    width: calc(66.66666666% - 16px);
    margin: 8px;
}

.banner {
    overflow: initial;
    min-height: 122px;
    background: url("/resources/templates/public/IMAGE/CAREER/bg2.jpg") center center / cover no-repeat;
    padding-bottom: 20px;
    background-color: rgb(224, 224, 224);
    opacity: 0.8;
    position: relative;
    margin-bottom: 20px;
}

.banner>div {
    text-align: center;
}

.button-dang-viec {
    vertical-align: bottom;
    padding-top: 27px;
}

.biding {
    z-index: 1;
    text-align: center;
    font-size: 19px;
    font-weight: 400;
    padding-top: 15px;
    color: white;
}

.dang-viec {
    border-radius: 5px;
    font-size: 15px;
    line-height: 26px;
    display: flex;
    margin: 0px 237px;
    text-transform: uppercase;
}

.dang-viec:hover {
    cursor: pointer;
}

.two-cool {
    display: flex;
    justify-content: space-between;
}

#post-job {
    background-color: white;
    display: none;
}

.post-job-title {
    background-color: blue;
    padding: 10px;
    color: white;
}

form {
    padding: 10px;
}

.submit-1 {
    justify-content: right;
    text-align: right;
}

.submit-2:hover {
    cursor: pointer;
}

.submit-2 {
    font-size: 15px;
    line-height: 20px;
    border: none;
    padding: 5px;
    background-color: blue;
    color: white;
    border-radius: 10px;
}

.two-cool>div {
    width: calc((100% - 16px) /2);
}

.padding-top {
    padding-top: 4px;
}

.textfield {
    padding: 15px 0;
    ;
}

.textfield__input {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    margin: 0;
    padding: 4px 0;
    width: 100%;
    background: none;
    text-align: left;
    color: inherit;
}

.textfield__input-area {
    border: 1px solid rgba(0, 0, 0, 0.12);
    margin: 0;
    padding: 4px 0;
    width: 100%;
    background: none;
    text-align: left;
    color: inherit;
}

.material-icons {
    font-size: 28px;
}

.current-tab {
    background-color: white;
}

.job-tab {
    margin-bottom: 20px;
    padding: 20px;
}

.name-job {
    font-size: 18px;
    font-weight: 400;
}

.chia3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: left;
    padding-top: 10px;
}

.chia3>div {
    width: calc((100% - 0px) /3);
}

.job-status-open {
    padding: 3px 12px;
    margin: 8px 0px 0px;
    border-radius: 12px;
    display: inline-block;
    background-color: #9fc4a1 !important;
}
.job-status-close {
    padding: 3px 12px;
    margin: 8px 0px 0px;
    border-radius: 12px;
    display: inline-block;
    background-color: #cc766f !important;
}

.job-internship-closed {
    padding: 3px 12px;
    margin: 8px 0px 0px;
    border-radius: 12px;
    display: inline-block;
    background-color: #ff8040 !important;
}

.font-medium {
    font-weight: bold;
}

.chia2-2 {
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
}

.chia2-2>div {
    width: calc((100% - 0px) /2);
}

.chia2-2>ul>li>a {
    height: 30px;
    line-height: 28px;
    padding: 0px 12px;
    border-radius: 30px;
    color: #0000a0;
    text-transform: uppercase;
    border: 2px solid transparent;
    margin-left: 10px;
    border-color: #0000a0;
    display: inline-block;
}

.chia2-2>ul>li>a:hover {
    background-color: #0000a0;
    color: white;
}

.infor-img {
	margin-top:5px;
	float:left;
    display: inline;
}
.infor-detail {
	margin-left:10px;
	float:left;
    display: inline-block
}
.infor>div {
    display: inline-block;
    padding-right: 5px;
}

.infor-font {
    font-size: 14px;
}

.comment-avatar {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    object-fit: cover;
}

footer {
    background-color: #D9291D;
    padding: 25px;
}

footer .footer1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer div li {
    display: inline-block;
}

footer p {
    font-size: 14px;
    color: white;
}

footer ul li {
    display: inline-block;
    margin-left: 10px;
}

footer ul li a {
    text-indent: -1000000px;
    display: inline-block;
    height: 18px;
    background-repeat: no-repeat;
    vertical-align: middle;
}

footer ul li:nth-child(1) a {
    background-image: url(../IMAGE/SOCIAL/twit.png);
    width: 18px;
    background-size: 18px 18px;
}

footer ul li:nth-child(2) a {
    background-image: url(../IMAGE/SOCIAL/Facebook.png);
    width: 10px;
    background-size: 10px 18px;
}

footer ul li:nth-child(3) a {
    background-image: url(../IMAGE/SOCIAL/skype.png);
    width: 18px;
    background-size: 18px 18px;
}

footer ul li:nth-child(4) a {
    background-image: url(../IMAGE/SOCIAL/Iinked.png);
    width: 15px;
    background-size: 15px 18px;
}

@media screen and (max-width: 1055px) {
    header {
        height: auto;
        width: auto;
    }
    #menu {
        height: auto;
    }
    #menu .container {
        display: block;
    }
}

@media screen and (max-width: 739px) {
    header {
        height: auto;
        width: auto;
    }
    #menu {
        height: auto;
    }
    #menu .container {
        display: block;
    }
    footer .footer1 {
        flex-direction: column-reverse;
    }
    footer .social {
        margin-bottom: 20px;
    }
    #career .danh-muc {
        width: calc(100% - 16px);
    }
    #career .dang-tin {
        width: calc(100% - 16px);
    }
}

@media screen and (max-width: 410px) {
    header .container>div {
        width: 100%;
        text-align: center;
    }
}